<%#'_' for partial file identity%>
<label>Name</label>
<input type="text" name="name" value="<%= author.name %>">
<%#to use author var in routes/authors file%>
<%#body-parser module makes easy to access var/input from server%>